
body {
	margin : 0px;
	padding : 0px;
	color: #333333;
	background-color:#FFFFFF;
	font-family: 'Titillium Web', sans-serif;
}

#header {
	display: inline-block;
	/*width: 90%;*/
	vertical-align: top;
	height: 130px;
	/*margin: 2px 1em;*/
	border: 1px solid #CCCCCC;
	background-color: #EEE;
	box-shadow: 0px 3px 4px #aaa;
}
/*/////////////////*/
#header_titre {	position: relative; text-align: left; vertical-align: top; margin : 5px;}
h1 { width: 200px; height: 110px; background-image: url("images/42_logo.png"); background-repeat: no-repeat;}

#header_user {  position: relative; text-align: right; vertical-align: top; margin : 10px 10px 0px 0px;}
#header_menu { position: relative;  bottom: 0px; right: 5px; text-align: center;  margin : 20px; }

#div_video_fond { position: relative; top:0px; left:0px; width: 482px; height: 362px; text-align: center; z-index:4; }/*margin : 2px;*/
#div_fond { position: absolute; top:0px; left:0px; width: 480px; height: 360px; text-align: center; z-index:2; margin : 0px;}
#div_video { position: absolute; top:0px; left:0px; width: 480px; height: 360px; text-align: center; z-index:1; margin : 0px;}
#div_canvas { position: absolute; top:0px; left:0px; width: 480px; height: 360px; text-align: center; z-index:3; margin : 0px;}

#fonds, #div_video_fond, #div_fond, #div_video, #div_canvas {border: 1px solid #666666;}

#fonds { position: relative; top:0px; left:0px; width: 482px; height: auto; text-align: center; background-color: #111; margin: 0px; }
#fond { background-color: #000000;}
.img_fond{margin : 5px 2px 0px 0px;}

#global {
	display: inline-block;
	/*width: 90%;*/
	height: auto;
	vertical-align: top;
	/*text-align: left;*/
	/*margin: 2px 1em;*/
	padding: 0px;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 3px 4px #aaa;
}

#main {
	display: inline-block;
	width: 520px;
	height: auto;
	vertical-align: top;
	text-align: center;
	/*margin: 2px 1em;
	padding: 0px 10px;*/
	border: 0px solid #CCCCCC ;
}
#user_imgs {
	display: inline-block;
	width: 200px;
	height: 450px;
	vertical-align: top;
	text-align: center;
	/*margin: 2px 1em;*/
	padding: 0px;
	border: 0px solid #CCCCCC;
	overflow:auto;
}
.user_img { margin: 5px; border: 1px solid #666666; box-shadow: 3px 3px 4px #aaa;}

#div_galerie {
	display: inline-block;
	/*width: 200px;
	height: 450px;*/
	vertical-align: top;
	text-align: center;
	/*margin: 2px 1em;*/
	padding: 0px;
	border: 0px solid #CCCCCC;
	overflow:auto;
}

#div_galerie 		{position: relative;  z-index:0;  margin: 0px;}
.div_img_like_cmt 	{width: 200px; height: 150px; display: inline-block; position: relative; z-index:1;}
.div_img 			{display: inline-block; position: absolute; bottom:0px; left:0px;  z-index:1;}
.div_like 			{display: inline-block; position: absolute; bottom:0px; left:5px;  z-index:3; }
.div_comment 		{display: inline-block; position: absolute; bottom:0px; left:50px;   z-index:3; }

.galerie_img 		{margin: 0px; border: 3px solid #000000; box-shadow: 3px 3px 4px #aaa;}

#div_galerie_cmt  { display: inline-block;  position: fixed; margin: 10px 0px; overflow: hidden; } /* 10px ajust avec galerie */
#div_form_cmt { display: inline;  margin: 0px 0px;  } /* 10px ajust avec galerie */
#div_cmt { display: inline;   margin: 0px 0px;  } /* 10px ajust avec galerie */
/*visibility: hidden;*/

#user_texte {
	display: inline-block;
	width: 150px;
	height: 450px;
	vertical-align: top;
	/*text-align: justify;*/
	margin: 2px 1em;
	padding: 0px;
	border: 0px solid #CCCCCC;
	/*overflow:hidden;*/
}


#form {
	display: inline-block;
	width: 500px;
	vertical-align: top;
	/*height: 200px;*/
	margin: 2px 1em;
}
#content {
	display: inline-block;
	width: 500px;
	vertical-align: top;
	/*height: 200px;*/
	/*margin: 2px 1em;*/
}

#footer {
	display: inline-block;
	/*width: 90%;*/
	height: auto;
	vertical-align: top;
	text-align: center;
	/*margin: 2px 1em;*/
	padding: 0px 0px;
	border: 1px solid #CCCCCC;
	background-color: #EEE;
	box-shadow: 0px 3px 4px #aaa;
} 


p.header_user 							{color: #BBBBBB; }
p.header_user a:link, p a:link 			{color: #777; text-decoration: none;}
p.header_user a:visited, p a:visited	{ color: #777; text-decoration: none;}
p.header_user a:hover, p a:hover  		{color: #000000; text-decoration: blink;}
 
p.lien		{color: #000000;}
p.msg_err	{color: #ff6600;}
span.menu	{color: #CCCCCC; margin: 0px 5px 0px 5px;}

p.content_left 		{text-align: left;}
p.content_right 	{text-align: right;}
p.content_center	{text-align: center;}

p.like, .comment						{color: #FFFFFF; margin: 0px;}
p.like a:link, p.comment a:link 		{color: #777; text-decoration: none;}
p.like a:visited, p.comment a:visited  	{color: #777; text-decoration: none;}
p.like a:hover, p.comment a:hover  		{color: #ff6600; text-decoration: blink;}

p.notice span, p.notice b { font-weight: bold; color:#39329B;}

h1	{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	color: #CCC;
	text-shadow: 3px 3px 3px #666;
	}

h2	{
	color: #CCC;
	margin: 0;
	}
/*p, p.content { font-size: 1vw; }*/

/*
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (min-width: 541px) and (max-width: 5000px)
	{
	#header, #footer, #div_galerie {width: 90%; margin: 2px 1em;}
	#global {width: 90%; min-height: 500px; margin: 2px 1em;}
	#main { width: 520px; min-height: 300px; margin: 2px 0em; padding: 0px 10px;}
	#div_video_fond {margin: 2px 0px;}
	#user_imgs {margin: 2px 0em;}
	#div_galerie { width: 70%; min-height: 300px; height:100%; margin: 2px 0em;}
	#div_galerie_cmt, #div_form_cmt, #div_cmt {width: 20%; } 

	h2.Titre{ font-size: 14px; }  /* Maximum font size */
	p, td.form { font-size: 12px; } 
	p.content, p.content_left, p.content_right, p.content_center { font-size: 12px; margin: 0px 0px;}
	p.notice, p.like { font-size: 10px; }

	
	}

@media screen and (min-width: 100px) and (max-width: 540px)
	{
	#header, #footer, #div_galerie {width: 100%; margin: 0px 0em;}
	#global {width: 100%; margin: 0px 0em;}
	#main { width: 520px; margin: 0px 0em; padding: 0px 0px;}
	#div_video_fond {margin: 0px;}
	#user_imgs {margin: 0px 0em;}
	#div_galerie {width: 70%; min-height: 500px; height:100%; margin: 0px 0em;}
	#div_galerie_cmt, #div_form_cmt, #div_cmt  {width: 30%; } 

	h2.Titre{ font-size: 14px; }  /* Maximum font size */
	p, td.form { font-size: 12px; } 
	p.content, p.content_left, p.content_right, p.content_center  { font-size: 12px; }
	p.notice, p.like { font-size: 10px; }
	
	}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 481px) and (max-width: 1280px)
 	{
	h2.Titre { font-size: 18px } /* Minimum font size */
	p, td.form { font-size: 14px; }
	p.content, p.content_left, p.content_right, p.content_center  { font-size: 12px; }
	p.notice { font-size: 10px; }

	}

@media all and (max-device-width: 480px)
 	{
	h2.Titre { font-size: 24px } /* Minimum font size */
	p, td.form { font-size: 16px; }
	p.content, p.content_left, p.content_right, p.content_center  { font-size: 14px; color: red;}
	p.notice { font-size: 12px; }
	p.notice span { font-weight: bold; }
	
	}